<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.TestMapper">
	<insert id="fileupload" parameterType="java.lang.String" >
		INSERT INTO testfile (sfile)
		VALUES (#{sfile})
	</insert>
	
	<select id="fileUpdate" resultType="java.lang.String">
		SELECT sfile FROM testfile
	</select>
</mapper>