<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b.c.dataro.boardQna.QnaMapper">

	<select id="list" resultType="a.b.c.dataro.boardQna.QnaVO"> 
		SELECT
			* 
	 		, (SELECT COUNT(*) FROM plike WHERE plike.board_name = '질문게시판' AND pqnaboard.board_no = plike.board_no) AS likecount 
	 		, (SELECT COUNT(*) FROM pdislike WHERE pdislike.board_name = '질문게시판' AND pqnaboard.board_no = pdislike.board_no) AS dislikecount  
			, (SELECT COUNT(*) FROM preply WHERE preply.board_name = '질문게시판' AND pqnaboard.board_no = preply.board_no) AS replycount 
		FROM pqnaboard
		<where>
			<if test= "stype != null or sword != null"> 
				<if test= "stype == 'title'">
					title LIKE '%${sword}%'
				</if>
				<if test= "stype == 'id'">
					id LIKE '%${sword}%'
				</if>
			</if>
		</where>	
		ORDER BY gno DESC, ono ASC
		LIMIT  ${startIdx}, ${pageRow}
	</select>
	
	<select id="count" parameterType="a.b.c.dataro.boardQna.QnaVO" resultType="int">
		SELECT COUNT(*) FROM pqnaboard
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype == 'title'">
					title LIKE '%${sword}%'
				</if>
				<if test="stype == 'id'">
					id LIKE '%${sword}%'
				</if> 
			</if>
		</where>
	</select>	
	
	<!-- 글 작성 -->
	<insert id="insert" parameterType="a.b.c.dataro.boardQna.QnaVO">
		INSERT INTO pqnaboard (
			board_name, id, member_no, title, content, viewcount, writedate, filename_org, filename_server
		) VALUES (
			#{board_name}, #{id}, #{member_no}, #{title}, #{content}, 0, NOW(), #{filename_org}, #{filename_server}
		)
		<selectKey keyProperty="board_no" resultType="int"  order ="AFTER"> 
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="gnoUpdate" parameterType="int">
		UPDATE pqnaboard SET gno = #{board_no} WHERE board_no = #{board_no}	
	</update>
	
	<update id="onoUpdate" parameterType="a.b.c.dataro.boardQna.QnaVO">
		UPDATE pqnaboard SET ono = ono + 1 WHERE gno = #{gno} AND ono > #{ono}	
	</update>
	
	<insert id="reply" parameterType="a.b.c.dataro.boardQna.QnaVO">
		INSERT INTO pqnaboard (
			board_name, id, member_no, title, content, viewcount, writedate, updatedate, gno, ono, nested
		) VALUES (
			#{board_name}, #{id}, #{member_no}, #{title}, #{content}, 0, NOW(), NOW(), #{gno}, #{ono}, #{nested}
		)
	</insert>
	
	<!-- 상세페이지 -->
	<select id="qnaView" parameterType="int" resultType="a.b.c.dataro.boardQna.QnaVO">
		SELECT *
		FROM pqnaboard
		WHERE board_no = #{board_no}
	</select>
	
	<!-- 글 수정 -->
	<update id="update" parameterType="a.b.c.dataro.boardQna.QnaVO">
		UPDATE pqnaboard 
		SET 
			title = #{title}
			, content = #{content}
			, updatedate = NOW()
		WHERE board_no = #{board_no}
	</update>

	<!-- 조회수 증가 -->
	<update id="updateViewcount" parameterType="int">
		UPDATE pqnaboard
		SET viewcount = viewcount + 1
		WHERE board_no = #{board_no}
	</update>
		
	<!-- 게시글 삭제 -->
	<update id="qnaDelete" parameterType="int">
		UPDATE pqnaboard SET board_no = #{board_no}*(-1), title='삭제된 글입니다.', content='삭제된 글입니다.' WHERE board_no = #{board_no}
	</update>
	<select id="gnoCount"  parameterType="int" resultType="int">
		SELECT COUNT(gno) FROM pqnaboard WHERE gno = #{board_no}
	</select>
	<delete id="delete" parameterType="int">
		DELETE FROM pqnaboard WHERE board_no = #{board_no}
	</delete>
	
	<!-- 댓글 좋아요 버튼 누르기 -->
	<insert id="clickReplyLike" parameterType="a.b.c.dataro.boardQna.QnaVO">
		INSERT INTO plike (
			board_name, board_no, reply_no, member_no
		) VALUES (
			#{board_name}, #{board_no}, #{reply_no}, #{member_no}
		)
	</insert>
	
</mapper>