/*common*/

.sub_header {
    background: #ff878785;

}
.btnSet {position:relative; margin:20px 0; text-align:center; overflow:hidden;}
.btn {font-size:14px; text-decoration:none !important; white-space:nowrap; display:inline-block; vertical-align:baseline; position:relative; cursor:pointer; padding:4px 20px; min-width:64px; border:2px solid #ffa5a5; color:#fff !important; margin:0 2px; text-align:center; font-weight:bold; border-radius:50px; background-color:#ffa5a5;}
.btnSet .btn:hover{border:2px solid ff8585; background:#ff8585; color:#fff !important;  text-decoration:none !important;}
